

html,
body {
    font-size: 20px;
    height: 100%;
}

body {
    background-color: #2d324fe1;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

/* Class for the sticky header */
.stickyHeader {
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 200;
   padding-top: 10px;
}


/* Declaring grid-areas */
#headerContainer {
    background-color: #2d324fe1;
}

#headerContainer img {
    width: 200px;
    margin-top: -15px;

}

#filters {
    grid-area: filters;
    text-align: center;
    background-image: url(../images/pizzabackground.JPG);
    background-size: cover;
    height: 400px;
    margin-top: 108px;
    position: relative;
    
}

#filters::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
}

#name {
    padding-top: 150px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    color: white;
    position: relative; 
    z-index: 1; 
}


#footer {
    grid-area: footer;
    margin-top: 200px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 360px;
    background-color: #fdfdfc;
    background-image: url(../images/footer.jpg);
    background-size: cover;
}

#footerLogo {
    width: 300px;
    margin-top: 20px;
    margin-left: 10px;
}

hr {
    width: 500px;
    margin-left: 0px;
}

#footLinkFAQ {
    margin-left: 30px;
    margin-top: -20px;
    color:#2d324fe1 ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#footLinkFAQ:hover {
    color:#242a4a;
    cursor: pointer;
    text-decoration: underline;
}

#footLinkOss {
    margin-left: 30px;
    color:#2d324fe1 ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: -30px;
}

#footLinkOss:hover {
    color:#242a4a;
    cursor: pointer;
    text-decoration: underline;
}

#copyRight {
    font-size: 12px;
    margin-left: 20px;
    margin-top: 50px;
    color: rgb(148, 148, 148);
}

.textBox {
    background-color: rgba(245, 245, 245, 0.911);
    margin-top: 50px;
    width: 700px;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 3px solid black;
    border-radius: 3px;

}

#divBox {
    margin-left: 20%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    margin-right: 20%;
}

#divBox h2 {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
}

.footLink {
    margin-left: 30px;
    margin-top: 20px;
    color:#2d324fe1 ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    display: block;

}

.footLink:hover {
    color:#242a4a;
    cursor: pointer;
    text-decoration: underline;
}

h3{
    margin-top: 50px;
    margin-bottom: -5px;
    color: rgb(209, 209, 209);
}
