
/* CSS för favoriter.html */

#savedBox {
    background-color: #f7f5f2;
    width: 450px;
    margin-right: 30px;
    margin-top: 50px;
    border: 4px solid black;
    border-radius: 10px;
    justify-content: center;
    height: 400px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: scroll;
    display: block;
    text-align: center;
    padding-left: 15px;
    font-size: 12px;
}

#listBox {
    background-color: #f7f5f2;
    width: 400px;
    margin-right: 10px;
    margin-top: 50px;
    border: 4px solid black;
    border-radius: 10px;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 400px;
    overflow: scroll;
    display: block;
    text-align: center;
    position: relative;
}

#listBox .restaurantCard {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
}

#savedFlexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.plusSign {
    font-size: 120px;

}

.box {
    display: flex;
    flex-direction: column;
}

.listInput {
    height: 50px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 70%;
    margin-top: 30px;
    border: none;
    border-bottom: 3px solid rgb(255, 255, 255);
    outline: none;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    margin-left: 20px;
    text-align: center;
}

.listInput:focus {
    border-bottom-color: #edad46e7;
}

.listInput:hover {
    border-bottom-color: #edad46e7;
}

h1 {
margin-top: 100px;
padding-top: 50px;
padding-bottom: 120px;
color: white;
text-align: center;
}

h2 {
    color: white;
    text-align: center;
    margin-top: 20px;
}

.pen {
    width: 40px;
    height: 40px;
    margin-bottom: -15px;
}





/* CSS for geoMatch.html */

#firstBox {
    background-color: #f7f5f2;
    width: 370px;
    margin-right: 10px;
    margin-top: 50px;
    border: 4px solid black;
    border-radius: 300px;
    justify-content: center;
    height: 370px;
    display: block;
    padding-left: 10px;
    text-align: center;
    transition: transform 0.4s ease;
}

#firstBox:hover {
    transform: rotate(-10deg);
}

#secondBox {
    background-color: #f7f5f2;
    width: 370px;
    margin-right: 10px;
    margin-top: 50px;
    border: 4px solid black;
    border-radius: 300px;
    justify-content: center;
    height: 370px;
    display: block;
    padding-left: 10px;
    text-align: center;
    margin-left: 50px;
    transition: transform 0.4s ease;
}

#secondBox:hover {
    transform: rotate(10deg);

}

#boxBackground {
    display: flex;
    justify-content: center;
    
}

.insideBox {
    width: 260px;
    height: 260px;
    border: black 3px solid;
    margin: 50px;
    border-radius: 300px;
}

#boxBackground {
    background-image:url(../images/bakgrundpicnic3.svg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh; 
    padding-top:200px ;
    display: none;
    z-index: 2000;
    margin-top: -500px;
}

#startPage {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#playButton {
    width: 400px;
    height: 80px;
    position: absolute;
    background-color: #4a6700d7;
    border: solid 1px #899E1D;
    color: white;
    border-radius: 5px;
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: transform 0.3s ease;
    margin-top: -300px;
}

#mapBtn2 {
    height: 50px;
    font-size: 20px;
    width: 260px;
    background-color: #899e1de1;
    color: white;
    border: solid 2px #4a6700;
    border-radius: 5px;
    transition: 0.5s;
    margin-top: 300px;
    

}

#mapBtn2:hover {
    transform: scale(1.1);
    background-color: #bcd92cc5;
    color: white;
}


#findBtn2 {
    height: 50px;
    font-size: 20px;
    width: 260px;
    background-color: #d29635df;
    color: white;
    border: solid 2px #745523;
    border-radius: 5px;
    margin-left: 10px;
    transition: 0.5s;
    
}

#findBtn2:hover {
    background-color: #f59f15d3;
    color: white;
    transform: scale(1.1);
}


#playButton:hover {
    background-color: #4a670086;
}

#selectBox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    z-index: 999;
    display: none;
    justify-content: center;
}

#selectBox2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    z-index: 999;
    display: none;
    justify-content: center;
}

#newMap {
    width: 700px;
    height: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: black 3px solid;
    z-index: 1000;
    display: none;
}

#map {
    width: 700px;
    height: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: black 3px solid;
    z-index: 1000;
    display: none;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    z-index: 999;
    display: none;
}

/* Code for modal */
.chooseProvince {
    display: none;
    background-color: white;
    box-shadow: 0px 0px 15px 6px #2d324fe1;
    border-color: #2d324fe1;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.chooseProvince form {
    display: flex;
    flex-wrap: nowrap;
    grid-template-columns: max-content auto;
    gap: 0.75em;
}

.chooseProvince button {
    display: block;
    margin-left: auto;
    padding: 0.5em;
    height: 45px;

}

#mapPlaybtn {
    width: 400px;
    height: 50px;
    
    background-color: #4a6700d7;
    border: solid 1px #899E1D;
    color: white;
    border-radius: 5px;
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: transform 0.3s ease;
    margin-top: 370px;
     
}

#mapPlaybtnBox {
   text-align: center;
}

#mapPlaybtn:hover {
    background-color: #4a670086;
}


















