/* Fundamental code for document */

html,
body {
    font-size: 20px;
    height: 100%;
}

body {
    background-color: #2d324fe1;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

/* Class for the sticky header */
.stickyHeader {
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 200;
    padding-top: 10px;
}


/* Declaring grid-areas */
#headerContainer {
    background-color: #2d324fe1;
}


/* Id for the container of the different buttons */
#filters {
    grid-area: filters;
    text-align: center;
    background-image: url(../images/bakgrund.jpg);
    background-size: cover;
    height: 400px;

    margin-top: 108px;
}

#mapDivBox {
    display: flex;
}

/* Centering map and border-decoration */
#mapViewer {
    grid-area: mapViewer;
    height: 90vh;
    width: 60%;

    max-width: 70%;
    margin-left: 20px;
    margin-right: auto;
    margin-top: 80px;
    border: 3px solid black;
    z-index: 100;
    display: flex;

}

#flexBox {
    display: flex;
}



/* Id for where the dynamic data will be displayed */
#restaurantInfo {
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    margin-left: 20px;
    float: right;
}

/* Centering restaurant information and text-decoration */
#restaurantInfo h2,
#restaurantInfo p {
    text-align: center;
    font-size: 20px;
    margin-left: 10px;
}

/* Code for decoration of drop-down menus */
.dropDownBtn {
    background-color: #c4cae969;
    color: #2d324fe1;
    font-size: 22px;
    padding: 10px;
    margin-top: 75px;
    cursor: pointer;
    width: 240px;
    border: solid #2d324fe1 2px;
    border-radius: 2px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 6px;

    position: relative;
    display: block;
}

.arrow {
    width: 20px;
    position: relative;
    float: right;
    top: 15px;
    transition: transform 0.4s ease;
    transform: translateY(-50%) rotate(0deg);
}

.arrow.rotate {
    transform: translateY(-50%) rotate(180deg);
}


.dropDownContent {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.902);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 100;
    font-size: 15px;
    border: solid 2px black;
    border-radius: 5px;

    height: 105px;
    width: 236px;
    overflow: auto;

}


#searchButton {
    width: 537px;
    margin-left: 40px;
    height: 35px;
    position: absolute;
    margin-top: -122px;
    background-color: #4a6700d7;
    border: solid 1px #899E1D;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: transform 0.3s ease;
}

#searchButton:hover {
    background-color: #4a670086;
}

/* Textbox */
#adressTextBox {
    height: 50px;
    width: 440px;
    position: absolute;
    top: 75%;
    left: 20%;
    transform: translate(-50%, -50%);
    border-radius: 10px;  
}

#findAdress {
    font-size: 10px;
    margin-top: -99px;
   position: relative;
  z-index: 100;
    margin-left: 357px;
}


.dropDownContent a {
    color: black;
    display: block;
    padding: 12px;
}



.dropDownContent a:hover {
    background-color: rgb(100, 97, 97);
}

.dropDownContent.show {
    display: block;
    cursor: pointer;
    max-height: 236px;
}

#typeOfRestaurant,
#distance,
#priceRange {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 450px;
    margin-top: 15px;
    height: 0px;
}



/* Button for geo-location */
#shareLocation {
    width: fit-content;
    cursor: pointer;
    display: block;

    font-size: 30px;
    padding: 8px;

}

#searchButtons {
    position: absolute;
    left: 620px;
    margin-top: -180px;
    margin-left: -580px;
    /*
    background-color: #d7cfc32c;
    padding: 10px;
    padding-top: 50px;
    border: 3px solid #2d324fe1;
    border-radius: 5px;
    box-shadow: 2px 2px #0000006f;
*/
}

#mapBtn {
    height: 50px;
    font-size: 20px;
    width: 260px;
    background-color: #899e1d20;
    color: #4A6700;
    border: solid 2px #4a6700;
    border-radius: 5px;
    transition: 0.5s;
}

#mapBtn:hover {
    transform: scale(1.1);
    background-color: #899e1dc5;
    color: white;
}



#findBtn {
    height: 50px;
    font-size: 20px;
    width: 260px;
    background-color:#d2963562 ;
    color: #745523;
    border: solid 2px #745523;
    border-radius: 5px;
    margin-left: 10px;
    transition: 0.5s;
}

#findBtn:hover {
    background-color: #d1922ed3;
    color: white;
    transform: scale(1.1);
}

.buttonImg {
    height: 25px;
    margin-left: 7px;
}


#sortButtons {
    display: flex;
    margin-right: auto;
    margin-right: 20px;
    margin-top: -65px;
    font-size: 20px;
    color: white;

    justify-content: flex-end;
}

/*
#sortButtons button {

    height: 50px;
    font-size: 20px;
    width: 100px;
    background-color: #c78e33;
    color: white;
    border: solid 2px #976d2a;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

#sortButtons button:hover {
    background-color: #d69122c0;
}

.sortButtonsToggle {
    opacity: 1;
    background-color: #aa916953 !important;
    cursor: default !important;
    border-color: #976d2a !important;
}
*/

#flexContainer {

    display: flex;

}


#sortButtons {
position: relative;
 margin-top: -220px;
 color: #242a4a;
 margin-left: 40px;
 font-size: 25px;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;



}

.sortCheckboxToggle {
    
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    float: right;
    width: 25px;
    height: 25px;
    margin-right: 22px;
    
    /* Anpassa bakgrundsfärg och ram på checkboxen */
    background-color: #ffffff28;
    border: 2px solid #242a4a;
    border-radius: 3px;
    /* Lägg till en pekare när man hovrar över checkboxen */
    cursor: pointer;

    transition: transform 0.1s ease;
}

.sortCheckboxToggle:checked {

  background-color: #242a4a36;
    

}
.sortCheckboxToggle:checked::before {
    content: "\2713"; 

    font-size: 18px;

}

.sortCheckboxToggle:hover {
    transform: rotate(10deg);
}


#restaurantInfo {
    background-color: #f7f5f2;
    width: 35%;
    margin-right: 10px;
    margin-top: 80px;
    border: 4px solid black;
    border-radius: 10px;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 400px;
    overflow: scroll;
    display: block;
    padding-left: 10px;
}

#forknknife {
    height: 150px;
    margin-left: 36%;

}

#forknknife:hover {
    cursor: pointer;
}

#infoText {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;

}

#restaurantCard {
    background-color: #f7f5f2;
    width: 95%;
    border: 4px solid black;
    border-radius: 10px;
    margin-top: 20px;
}

.restaurantCardFlex {
    display: flex;

}

#picture {
    font-size: initial;
    width: 100px;
    height: 100px;
    border: solid 2px black;
    border-radius: 200px;
    margin-top: 20px;
    margin-left: 20px;
}

#restaurantName {
    margin-left: 75px;
    margin-top: 50px;
    width: 200px;
}


#restaurantInfo div h4 {
    background-color: rgb(20, 116, 0);
}

#restaurantInfo div p:nth-child(even) {
    background-color: rgba(128, 128, 128, 0.301);
}

#menuIcon,
#menuCheckBox {
    display: none;
}

#headerContainer img {
    width: 200px;
    margin-top: -15px;
}

#footer {
    grid-area: footer;
    margin-top: 270px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 360px;
    background-color: #fdfdfc;
    background-image: url(../images/footer.jpg);
    background-size: cover;
}

#footerLogo {
    width: 300px;
    margin-top: 20px;
    margin-left: 10px;
}

hr {
    width: 500px;
    margin-left: 0px;
}

.footLink {
    margin-left: 30px;
    margin-top: 20px;
    color: #2d324fe1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    display: block;

}

.footLink:hover {
    color: #242a4a;
    cursor: pointer;
    text-decoration: underline;
}


#copyRight {
    font-size: 12px;
    margin-left: 20px;
    margin-top: 50px;
    color: rgb(148, 148, 148);
}

/* Code for loader */
.loaderClass {
    opacity: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(128, 128, 128, 0.767);
    z-index: 1000;
    transition: opacity 2.5s;
    pointer-events: none;
}

.loaderClass h1 {
    font-size: 20px;
}

.loaderClass .loaderContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loaderClass.show {
    opacity: 1;
    pointer-events: auto;
}

.loadingRing {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.loadingRing {
    margin: 8px;
    border-radius: 70%;
    border: 8px solid #000;
    border-color: #000 #000 transparent;
    animation: spin 2s linear infinite;
}

#addressDropdown {
    display: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* End of code for loader */

@media screen and (max-width: 940px) {
    #restaurantInfo h2 {
        margin-left: 10px;
    }
}

@media screen and (max-width: 780px) {
    .dropDownBtn {
        font-size: 17px;
        width: fit-content;
    }

    .arrow {
        position: relative;
        float: right;
        top: 10px;
        left: 5px;
    }
}

@media screen and (max-width: 750px) {
    #flexBox {
        display: flex;
        flex-wrap: wrap;
        margin-right: auto;
        margin-left: auto;
    }

    #mapViewer {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        height: 300px;
    }

    #restaurantInfo {
        width: 100%;
    }

    #footer {
        margin-top: 40px;
    }

    hr {
        width: auto;
    }

}

@media screen and (max-width: 620px) {
    #menuIcon {
        background-image: url(../images/menu-bar.png);
        width: 24px;
        height: 24px;
        display: block;
        cursor: pointer;

        position: absolute;
        left: 5px;
    }

    #typeOfRestaurant,
    #distance,
    #priceRange {
        display: none;
    }


    #menuCheckBox:checked~#typeOfRestaurant {
        display: block;
    }

    #menuCheckBox:checked~#distance {
        display: block;

    }

    #menuCheckBox:checked~#priceRange {
        display: block;
    }

    /* The typeOfRestaurant button does not completely work, it is only clickable on the very right edge of the border */
    #typeOfRestaurant {
        position: absolute;
        top: 100px;
        left: 20px;
    }

    #distance {
        position: absolute;
        left: 20px;
        padding-top: 50px;
    }

    #priceRange {
        position: absolute;
        left: 20px;
        padding-top: 110px;
    }

    #filters {
        height: 270px;
    }

    #searchButtons {
        margin-top: 300px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    /* Need to fix the design/decoration of these buttons as they are barely visible in their new position */
    #mapBtn {
        background-color: white;
    }

    #findBtn {
        background-color: white;
    }
}

@media screen and (max-width: 569px) {
    #findBtn {
        margin-top: 10px;
        margin-left: 5px;
    }

    #search {
        margin-top: 170px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        padding: 20px;
    }
}