/* Fundamental code for document */

html,
body {
    font-size: 20px;
    height: 100%;
}

body {
    background-color: #2d324fe1;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}


/* Class for the sticky header */
.stickyHeader {
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 200;
    padding-top: 10px;
}

/* Declaring grid-areas */
#headerContainer {
    background-color: #2d324fe1;
}

/* Id for the container of the different buttons */
#filters {
    grid-area: filters;
    text-align: center;
    background-image: url(../images/bakgrund.jpg);
    background-size: cover;
    height: 400px;
    margin-top: 108px;

}

#mapDivBox {
    display: flex;
}

#restaurantBox {
    width: 500px;
}

/* Centering map and border-decoration */
#mapViewer {
    grid-area: mapViewer;
    height: 90vh;
    width: 60%;
    max-width: 80%;
    margin-left: 20px;
    margin-top: 10px;
    border: 3px solid black;
    z-index: 100;
    display: flex;
}

#flexBox {
    display: flex;
}

/* Id for where the dynamic data will be displayed */
#restaurantInfo {
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    margin-left: 20px;
    float: right;
}

/* Centering restaurant information and text-decoration */
#restaurantInfo h2,
#restaurantInfo p {
    text-align: center;
    font-size: 20px;
    margin-left: 10px;
}

/* Code for decoration of drop-down menus */
.dropDownBtn {
    background-color: #c4cae969;
    color: #2d324fe1;
    font-size: 22px;
    padding: 10px;
    margin-top: 75px;
    cursor: pointer;
    width: 240px;
    border: solid #2d324fe1 2px;
    border-radius: 2px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 6px;
    position: relative;
    display: block;
}

#saveBtnIndex {
    width: 40px;
    float: right;
    margin-top: -210px;
    padding: 10px;
    cursor: pointer;
}

.arrow {
    width: 20px;
    position: relative;
    float: right;
    top: 15px;
    transition: transform 0.4s ease;
    transform: translateY(-50%) rotate(0deg);
}

.arrow.rotate {
    transform: translateY(-50%) rotate(180deg);
}

.dropDownContent {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.902);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 100;
    font-size: 15px;
    border: solid 2px black;
    border-radius: 5px;
    height: 105px;
    width: 236px;
    overflow: auto;
}

#searchButton {
    width: 537px;
    margin-left: 40px;
    height: 35px;
    position: absolute;
    margin-top: -122px;
    background-color: #4a6700d7;
    border: solid 1px #899E1D;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: transform 0.3s ease;
}

.star {
    width: 30px;
    height: 30px;
    position: relative;
    top: 6px;
    margin-right: 2px;
}

#searchButton:hover {
    background-color: #4a670086;
}

/* Textbox */
#adressTextBox {
    height: 50px;
    width: 440px;
    position: absolute;
    top: 75%;
    left: 20%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

#findAdress {
    font-size: 10px;
    margin-top: -99px;
    position: relative;
    z-index: 100;
    margin-left: 357px;
}

.dropDownContent a {
    color: black;
    display: block;
    padding: 12px;
}

.dropDownContent a:hover {
    background-color: rgb(100, 97, 97);
}

.dropDownContent.show {
    display: block;
    cursor: pointer;
    max-height: 236px;
}

#typeOfRestaurant,
#distance,
#priceRange {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 450px;
    margin-top: 15px;
    height: 0px;
}

/* Button for geo-location */
#shareLocation {
    width: fit-content;
    cursor: pointer;
    display: block;

    font-size: 30px;
    padding: 8px;

}

#searchButtons {
    position: absolute;
    left: 620px;
    margin-top: -180px;
    margin-left: -580px;

}

#mapBtn {
    height: 50px;
    font-size: 20px;
    width: 260px;
    background-color: #899e1d20;
    color: #4A6700;
    border: solid 2px #4a6700;
    border-radius: 5px;
    transition: 0.5s;

}

#mapBtn:hover {
    transform: scale(1.1);
    background-color: #899e1dc5;
    color: white;
}

#mapBtn.activated {
    background-color: #899e1dc5;
    color: white;
}

#findBtn {
    height: 50px;
    font-size: 20px;
    width: 260px;
    background-color: #d2963562;
    color: #745523;
    border: solid 2px #745523;
    border-radius: 5px;
    margin-left: 10px;
    transition: 0.5s;
}

#findBtn:hover {
    background-color: #d1922ed3;
    color: white;
    transform: scale(1.1);
}

#findBtn.activated {
    background-color: #d1922ed3;
    color: white;
}

.buttonImg {
    height: 25px;
    margin-left: 7px;
}

.sortButtons {
    display: flex;
    margin-right: auto;
    margin-right: 20px;
    margin-top: -65px;
    font-size: 20px;

    justify-content: flex-end;
    position: relative;
    margin-top: -220px;
    color: #242a4a;
    margin-left: 40px;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#flexContainer {
    display: flex;
    margin-top: 10px;
}

.sortRadioBtnToggle {
    float: right;
    width: 25px;
    height: 25px;
    margin-right: 22px;

    background-color: #ffffff28;
    border: 2px solid #242a4a;
    border-radius: 3px;
    cursor: pointer;
    transition: transform 0.1s ease;
}

.sortRadioBtnToggle:checked {
    background-color: #242a4a36;
}

.sortRadioBtnToggle:checked::before {
    content: "\2713";
    font-size: 18px;
}

.sortRadioBtnToggle:hover {
    transform: rotate(10deg);
}

#restaurantInfo {
    background-color: #f7f5f2;
    width: 450px;
    margin-right: 10px;
    margin-top: 50px;
    border: 4px solid black;
    border-radius: 10px;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 400px;
    overflow: scroll;
    display: block;
    padding-left: 10px;
    text-align: center;
}

.restaurantSize {
    height: 90vh !important;
}

#forknknife {
    width: 150px;
    max-width: 100%;
    margin-left: -25px;
}

#forknknife:hover {
    cursor: pointer;
}

#infoText {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    margin-right: 30px;

}


.restaurantCard {
    background-color: rgb(253, 245, 235);
    width: 95%;
    border: 4px solid black;
    border-radius: 10px;
    margin-top: 20px;
}

.restaurantCardFlex {
    display: flex;

}


#picture {
    font-size: initial;
    width: 100px;
    height: 100px;
    border-radius: 200px;
    margin-top: 20px;
    margin-left: 20px;
}

#restaurantName {
    margin-left: 75px;
    margin-top: 50px;
    width: 200px;
}


#map {
    width: 700px;
    height: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: black 3px solid;
    z-index: 1000;
    display: none;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    z-index: 999;
    display: none;
}

.crossAndCheck {
    width: 20px;
    height: 20px;
    position: relative;
    top: 5px;
}

#closeButton {
    background: none;
    border: none;
    color: white;
    width: 100px;
    height: 100px;
    font-size: 50px;
    margin-left: 92%;
}

#closeButton:hover {
    cursor: pointer;
}

#menuIcon,
#menuRadioBtn {
    display: none;
}

#headerContainer img {
    width: 200px;
    margin-top: -15px;
}

#footer {
    grid-area: footer;
    margin-top: 150px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: -15px;
    background-color: #fdfdfc;
    background-image: url(../images/footer.jpg);
    background-size: cover;
}

#footerLogo {
    width: 200px;
    margin-top: -15px;
    margin-top: 20px;
    margin-left: 10px;
}

hr {
    width: 500px;
    margin-left: 0px;
}

.footLink {
    margin-left: 30px;
    margin-top: 20px;
    color: #2d324fe1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    display: block;

}

.footLink:hover {
    color: #242a4a;
    cursor: pointer;
    text-decoration: underline;
}

#copyRight {
    font-size: 12px;
    margin-left: 20px;
    margin-top: 50px;
    color: rgb(148, 148, 148);

}

/* Code for loader */
.loaderClass {
    opacity: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(128, 128, 128, 0.767);
    z-index: 1000;
    transition: opacity 2.5s;
    pointer-events: none;
}

.loaderClass h1 {
    font-size: 20px;
}

.loaderClass .loaderContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loaderClass.show {
    opacity: 1;
    pointer-events: auto;
}

.loadingRing {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.loadingRing {
    margin: 8px;
    border-radius: 70%;
    border: 8px solid #000;
    border-color: #000 #000 transparent;
    animation: spin 2s linear infinite;
}

#searchResult {
    border: 2px rgb(64, 69, 87) solid;
    width: 760px;
    height: 100px;
    margin-top: 100px;
    margin-left: 20px;
    background-color: #f7f5f222;
    border-radius: 5px;
    color: white;
    display: flex;

}

#searchResult p {
    margin-left: 20px;
    margin-top: 35px;
}

#sortBox {
    display: flex;
    margin-bottom: -50px;
    color: white;

}

#sort {
    margin-left: 5px;
    height: 30px;
    margin-top: 18px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* End of code for loader */

/* Code for modal */
.chooseProvince {
    display: none;
    background-color: white;
    box-shadow: 0px 0px 15px 6px #2d324fe1;
    border-color: #2d324fe1;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.chooseProvince form {
    display: flex;
    flex-wrap: nowrap;
    grid-template-columns: max-content auto;
    gap: 0.75em;
}

.chooseProvince button {
    display: block;
    margin-left: auto;
    padding: 0.5em;
    height: 45px;

}

#settings {
    display: none;
}

@media screen and (max-width: 840px) {
    #restaurantInfo h2 {
        font-size: 14px;
    }
}

@media screen and (max-width: 780px) {
    .dropDownBtn {
        font-size: 17px;
        width: 160px;
    }

    .arrow {
        position: relative;
        float: right;
        top: 10px;
        left: 5px;
    }

    #map {
        width: 500px;
    }

    #closeButton {
        margin-left: 670px;
    }

    .dropDownContent {
        width: 156px;
    }
}

@media screen and (max-width: 750px) {
    #flexBox {
        display: flex;
        flex-wrap: wrap;
        margin-right: auto;
        margin-left: auto;
    }

    #mapViewer {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        height: 300px;
    }

    #restaurantInfo {
        width: 100%;
        margin-left: 55px;
    }

    #restaurantBox {
        margin: auto;
    }

    #footer {
        margin-top: 80px;
    }

    hr {
        width: auto;
    }

    #closeButton {
        margin-left: 580px;
    }
}

@media screen and (max-width: 650px) {
    #closeButton {
        margin-left: 500px;
    }

}



@media screen and (max-width: 590px) {
    #mapBtn {
        width: 170px;
        font-size: 13px;

    }

    #findBtn {
        width: 170px;
        font-size: 13px;
    }

    .buttonImg {
        width: 12px;
        height: 12px;
    }

    #searchButton {
        width: 357px;
    }

    #filters {
        background-size: 800px 400px;
    }

    #map {
        width: 600px;
    }


}

@media screen and (max-width: 569px) {

    .dropDownBtn {
        font-size: 14px;
        width: 130px;
    }

    .dropDownContent {
        width: 126px;
    }


    .arrow {
        width: 15px;
        margin-top: -3px;
    }

    #map {
        width: 400px;
    }

    #closeButton {
        margin-left: 420px;
    }

    #footer {
        background-size: 800px 400px;
    }

    #footerLogo {
        width: 150px;
    }

    #forknknife {
        width: 100px;
    }
}

@media screen and (max-width: 480px) {
    #closeButton {
        margin-left: 370px;
    }

}

@media screen and (max-width: 440px) {
    .dropDownBtn {
        font-size: 12px;
        width: 120px;
    }

    .dropDownContent {
        width: 116px;
    }

    .arrow {
        width: 15px;
        margin-top: -3px;
    }

    #map {
        width: 300px;
    }

    #closeButton {
        margin-left: 340px;
    }
}

@media screen and (max-width: 410px) {

    #flexforResponsive {
        margin-left: auto;
        margin-right: auto;
    }

    #mapBtn {
        width: 170px;
        margin-left: -30px;

    }

    #findBtn {
        width: 170px;
        margin-top: 3px;

    }


    .buttonImg {
        width: 15px;
        height: 15px;
    }


    .sortButtons {
        font-size: 13px;
        padding-top: 20px;
        margin-left: 42px;
    }

    .sortRadioBtnToggle {
        width: 22px;
        height: 22px;
        margin-top: -6px;
    }

    .sortRadioBtnToggle:checked::before {
        font-size: 15px;
    }

    #filters {
        background-size: 600px 300px;
        height: 300px;
    }

    #flexContainer {
        margin-top: -85px;
        margin-left: -30px;
    }

    #settings {
        display: inline;
    }

    .dropDownBtn {
        font-size: 13px;
        width: 98px;
        margin-top: 45px;
    }

    .dropDownContent {
        width: 108px;
        height: 62px;
        font-size: 12px;
    }


    .arrow {
        width: 10px;
        margin-top: -3px;
    }


    #distance {
        margin-left: -10px;
    }

    #priceRange {
        margin-left: -10px;
    }

    #logoWhite {
        width: 160px;
        margin-left: 25%;
    }

    #forknknife {
        margin-right: 6%;
    }

    #footer {
        background-size: 650px 400px;
    }

    #map {
        width: 300px;
    }

    #closeButton {
        margin-left: 310px;
    }


    .dropDownBtn {
        width: fit-content;
    }

}

@media screen and (max-width: 390px) {
    #searchButton {
        width: 370px;
    }

    #mapBtn {
        width: 180px;
        display: inline;

        margin-top: 3px;
    }

    #findBtn {
        width: 180px;
        display: inline;
        margin-left: 0px;

        margin-bottom: 30px;
    }

    #filters {
        background-size: 680px 300px;
    }

}

@media screen and (max-width: 380px) {


    #distance {
        margin-left: -10px;
    }

    #priceRange {
        margin-left: -10px;
    }

    #logoWhite {
        width: 100px;
        margin-left: 23%;
    }


    #searchButton {
        width: 230px;
    }

    #mapBtn {
        width: 111px;
        display: inline;
        margin-left: 28px;
        margin-top: 3px;
    }

    #findBtn {
        width: 111px;
        display: inline;
        margin-left: 0px;

        margin-bottom: 30px;
    }

    .buttonImg {
        margin-left: 2px;
    }


    #flexContainer {
        margin-left: 8%;
    }

    .dropDownBtn {
        font-size: 10px;
        width: 98px;
        margin-top: 45px;
    }

    #restaurantInfo h2 {
        font-size: 10px;
    }

    .dropDownContent {
        width: 94px;
    }

    #closeButton {
        margin-left: 270px;
    }

}

@media screen and (max-width: 350px) {

    #distance {
        margin-left: -10px;
    }

    #priceRange {
        margin-left: -10px;
    }

    #picture {
        width: 70px;
        height: 70px;
    }

    #searchButton {
        width: 230px;
    }

    #mapBtn {
        width: 110px;
        margin-top: 3px;
        margin-left: 10px;
    }

    #findBtn {
        width: 110px;
        margin-left: 2px;

    }

    .buttonImg {
        margin-left: 2px;
    }

    #filters {
        background-size: 500px 300px;
        height: 300px;
    }

    #flexContainer {
        margin-top: -85px;
        margin-left: 10px;

    }

    #distance {
        margin-left: -15px;
    }

    #priceRange {
        margin-left: -15px;
        margin-right: 0;
        padding-left: 0;
    }

    #logoWhite {
        width: 100px;
        margin-left: 20%;
    }

    #footer {
        background-size: 600px 400px;
    }

    .footLink {
        font-size: 15px;
    }

    #map {
        width: 250px;
    }

    #closeButton {
        margin-left: 250px;
    }
}