/* CSS för favoriter.html */

#savedBox {
    background-color: #f7f5f2;
    width: 300px;
    margin-right: 30px;
    margin-top: 50px;
    border: 4px solid black;
    border-radius: 10px;
    justify-content: center;
    height: 400px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: scroll;
    display: block;
    text-align: center;
}

.listBox {
    background-color: #f7f5f2;
    width: 300px;
    margin-right: 30px;
    margin-top: 50px;
    border: 4px solid black;
    border-radius: 10px;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 400px;
    overflow: scroll;
    display: block;
    text-align: center;
    position: relative;
}

#addNewListBox {
    margin-top: 50px;
}

#savedFlexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.plusSign {
    font-size: 120px;
    cursor: pointer;

}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px; /* Anpassa efter behov */
    margin-bottom: 20px; 
}

.listInput {
    height: 50px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 70%;
    margin-top: 30px;
    border: none;
    border-bottom: 3px solid rgb(255, 255, 255);
    outline: none;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    margin-left: 20px;
    text-align: center;
}

.listInput:focus {
    border-bottom-color: #edad46e7;
}

.listInput:hover {
    border-bottom-color: #edad46e7;
}

h1 {
   
   margin-top: 150px ;
   text-align: center;
   color: white;
}

h2 {
    color: white;
    text-align: center;
    margin-right: 40px;
}

#instructions {
    padding-left: 100px;
    padding-right: 100px;
    color: white;
    font-size: 13px;
    margin-top: -20px;
    text-align: center;
}

.pen {
    width: 40px;
    height: 40px;
    margin-bottom: -15px;
}

.closeButton {
    font-size: 40px;
    margin-top: -10px;
    margin-left: 260px;
    cursor: pointer;
}

div.restaurantCard {
    width: 280px;
    margin-left: 5px;
    
}

div.restaurantCardFlex img {
    font-size: 10px;
    color: black;
    width: 30px;
}

img#picture {
    width: 70px;
}

h2#restaurantName {
    font-size: 15px;
    margin-left: 20px;
    color: black;
}













/* CSS for geoMatch.html */

#firstBox {
    background-color: #f7f5f2;
    width: 370px;
    margin-right: 10px;
    margin-top: 50px;
    border: 4px solid black;
    border-radius: 300px;
    justify-content: center;
    height: 370px;
    display: block;
    padding-left: 10px;
    text-align: center;
    transition: transform 0.4s ease;

}

#firstBox:hover {
    transform: rotate(-10deg);
    background-color: #bed745b7;

}

#secondBox {
    background-color: #f7f5f2;
    width: 370px;
    margin-right: 10px;
    margin-top: 50px;
    border: 4px solid black;
    border-radius: 300px;
    justify-content: center;
    height: 370px;
    display: block;
    padding-left: 10px;
    text-align: center;
    margin-left: 50px;
    transition: transform 0.4s ease;
}

#secondBox:hover {
    transform: rotate(10deg);
    background-color: #bed745b7;

}

#boxBackground {
    display: flex;
    justify-content: center;

}

.insideBox {
    width: 260px;
    height: 260px;
    border: black 3px solid;
    margin: 50px;
    border-radius: 300px;
    transition: background-color 0.3s ease;
}



#boxBackground {
    background-image: url(../images/bakgrundpicnic3.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    padding-top: 200px;
    display: none;
    z-index: 2000;


}

#startPage {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../images/bakgrundUtanBestick.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 50vh;
    padding-top: 200px;
}

#buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#playButton {
    width: 400px;
    height: 80px;
    position: absolute;
    background-color: #64870dd7;
    border: solid 2px #ffffff;
    color: white;
    border-radius: 5px;
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: transform 0.3s ease;
    margin-top: -400px;
}

#mapBtn2 {
    height: 50px;
    font-size: 20px;
    width: 260px;
    background-color: #899e1de1;
    color: white;
    border: solid 2px #4a6700;
    border-radius: 5px;
    transition: 0.5s;
    margin-top: 200px;
    margin-left: 105px;


}

#mapBtn2:hover {
    transform: scale(1.1);
    background-color: #bcd92cc5;
    color: white;
}


#findBtn2 {
    height: 50px;
    font-size: 20px;
    width: 260px;
    background-color: #d29635df;
    color: white;
    border: solid 2px #745523;
    border-radius: 5px;
    margin-left: 10px;
    transition: 0.5s;

}

#findBtn2:hover {
    background-color: #f59f15d3;
    color: white;
    transform: scale(1.1);
}


#playButton:hover {
    background-color: #a9d43df4;
}

#selectBox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    z-index: 999;
    display: none;
    justify-content: center;
}

#selectBox2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    z-index: 999;
    display: none;
    justify-content: center;
}

#newMap {
    width: 700px;
    height: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: black 3px solid;
    z-index: 1000;
    display: none;
}

#map {
    width: 700px;
    height: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: black 3px solid;
    z-index: 1000;
    display: none;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    z-index: 999;
    display: none;
}

/* Code for modal */
.chooseProvince {
    display: none;
    background-color: white;
    box-shadow: 0px 0px 15px 6px #2d324fe1;
    border-color: #2d324fe1;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.chooseProvince form {
    display: flex;
    flex-wrap: nowrap;
    grid-template-columns: max-content auto;
    gap: 0.75em;
}

.chooseProvince button {
    display: block;
    margin-left: auto;
    padding: 0.5em;
    height: 45px;

}

#mapPlaybtn {
    width: 400px;
    height: 50px;

    background-color: #4a6700d7;
    border: solid 1px #899E1D;
    color: white;
    border-radius: 5px;
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: transform 0.3s ease;
    margin-top: 370px;

}

#mapPlaybtnBox {
    text-align: center;
}

#mapPlaybtn:hover {
    background-color: #4a670086;
}

.insideBox img {
    width: 100%;
    height: 100%;

}

#endGamePage {
    display: none;
    

}

#textBox {
    margin-left: 100px;
    margin-right: 100px;
    justify-content: center;
    
}

#circleImgHolder {
    width: 120px;
    height: 120px;
    
}

#restaurantResults {
    background-color: #f7f5f2;
    width: 600px;
    margin-right: 100px;
    margin-top: 50px;
    border: 4px solid black;
    border-radius: 10px;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 400px;
    overflow: scroll;
    display: block;
    padding-left: 10px;
    text-align: center;
}

#food1 {
    text-align: center;
    font-size: 25px;
    margin-left: -10px;
}

#food2 {
    text-align: center;
    margin-left: 50px;
    font-size: 25px;
}

#text1 {
    color: white;
    margin-top: -20px;
    margin-left: 20px;
}

#text2 {
    color: white;

    margin-left: 20px;
}

#controlls {
    margin-left: 20px;
    color: #5b73fae1;
    text-decoration: underline;
}

#controlls:hover {
    color: #b8c1f3e1;
    cursor: pointer;
}

#closeButton2 {
    background: none;
    border: none;
    color: white;
    width: 100px;
    height: 100px;
    font-size: 50px;
    margin-left: 120%;
}

#closeButton2:hover {
    cursor: pointer;
}

#restartBox {
    color: white;
    display: flex;
    margin-left: 20px;
    display: none;
}

#imgSwirl {
    height: 20px;
    width: 20px;
    margin-left: 6px;
    margin-top: 24px;
}


@media screen and (max-width: 850px) {
    #instruction {
        font-size: 20px;
        margin-left: 150px;
        margin-right: 150px;
    }
}

@media screen and (max-width: 569px) {
    html body div#headerContainer.stickyHeader a img#logoWhite {
       display: block; 
       width: 150px;
       margin-bottom: -80px;
    }
}

@media screen and (max-width: 510px) {
    html body div#headerContainer.stickyHeader a img#logoWhite {
       display: block; 
       width: 100px;
    }
}

@media screen and (max-width: 500px) {
    #instruction {
        font-size: 16px;
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media screen and (max-width: 480px) {
    html body div#headerContainer.stickyHeader a img#logoWhite {
        float: right;
        padding: 10px;
    }
}

@media screen and (max-width: 470px) {
    #savedBox {
        width: 350px;
    }

    #listBox {
        margin-right: 0px;
    }

    #listBox div {
        margin-right: 10px;
    }
}

@media screen and (max-width: 410px) {
    #listBox {
        width: 250px;
    }

    div.restaurantCard {
        width: 200px;
    }

    div.restaurantCardFlex img {
        font-size: 10px;
        color: black;
        width: 50px;
    }

    img#picture {
        width: 50px;
    }

    h2#restaurantName {
        font-size: 12px;
        margin-left: 10px;
    }

    #listBox {
        margin-left: 50px;
    }

    #listBox div {
        margin-right: 10px;
    }
}

@media screen and (max-width: 375px) {
    #savedBox {
        width: 250px;
    }

    #listBox {
        margin-left: 40px;
    }
}

/* Fixa css responsivitet med headern/navbaren och ändra ID till class. */