/* Fundamental code for document */

html,
body {
    font-size: 20px;
    height: 100%;
}

html,
body,
nav,
header,
footer {
    margin: 10px;
}

body {
    background-color: #2d324fe1;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Class for the sticky header */
.stickyHeader {
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    margin-left: -20px;
    z-index: 200;
    padding-top: 7px;
}

/* Declaring grid-areas */
#headerContainer {
    grid-area: header;

    position: fixed;
    margin-bottom: 20px;
    background-color: #2d324fe1;
}

/* Id for the container of the different buttons */
#filters {
    grid-area: filters;
    text-align: center;
    background-image: url(../images/bakgrund.jpg);
    background-size: 1300px;
    height: 400px;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: 94px;
}

#mapDivBox {
    display: flex;
}

/* Centering map and border-decoration */
#mapViewer {
    grid-area: mapViewer;
    height: 90vh;
    width: 60%;
    
    max-width: 70%;
    margin-left: 10px;
    margin-right: auto;
    margin-top: 80px;
    border: 3px solid black;
    z-index: 100;
    display: flex;

}

#flexBox {
    display: flex;

}



/* Id for where the dynamic data will be displayed */
#restaurantInfo {
    display: flex;
    flex-wrap: wrap;

    margin-left: 20px;
    float: right;
}

/* Centering restaurant information and text-decoration */
#restaurantInfo h4,
#restaurantInfo p {
    text-align: center;
    font-size: 30px;
}

/* Code for decoration of drop-down menus */
.dropDownBtn {
    background-color: #d7cfc3c0;
    color: #2d324fe1;
    font-size: 22px;
    padding: 10px;
    margin-top: 65px;
    cursor: pointer;
    width: 240px;
    border: solid #2d324fe1 2px;
    border-radius: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 6px;

    position: relative;
    display: block;
}

.arrow {
    width: 20px;
    margin-left: 10px;
    margin-bottom: -1.5px;
    transition: transform 0.5s;
}

.dropDownContent {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.902);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 100;
    font-size: 15px;
    border: solid 2px black;
    border-radius: 5px;
    height: 110px;
    width: 240px;
    overflow: auto;
}


.dropDownContent a {
    color: black;
    display: block;
    padding: 12px;
}

.dropDownContent a:hover {
    background-color: rgb(100, 97, 97);
}

/* Code for displaying dropDownContent */
#typeOfRestaurant:hover .dropDownContent {
    display: block;
    cursor: pointer;
    width: 236px;
}

#distance:hover .dropDownContent {
    display: block;
    cursor: pointer;
    width: 236px;
}

#priceRange:hover .dropDownContent {
    display: block;
    cursor: pointer;
    width: 236px;
}

#typeOfRestaurant,
#distance,
#priceRange {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 300px;
    margin-top: 15px;
}



/* Button for geo-location */
#shareLocation {
    width: fit-content;
    cursor: pointer;
    display: block;

    font-size: 30px;
    padding: 8px;

}

#searchButton:hover {
    transform: scale(1.1);
}

#sortButtons {
   
    display: flex;
    margin-left: 880px;
    margin-top: -65px;
    font-size: 20px;
    color: white;

}

#sortButtons button {
    
    height: 50px;
    font-size: 20px;
    width: 100px;
    background-color:#c78e33;
    color: white;
    border: solid 2px #976d2a;
    border-radius: 5px;
    margin-left: 10px;
}

#sortButtons button:hover {
    background-color: #d69122c0;
}

#restaurantInfo div {
    margin: 15px;
    border: solid 3px black;
    border-radius: 15px;
    
    background-color: rgba(255, 255, 255, 0.836);
    width: 200px;
}

#restaurantInfo div h4 {
    background-color: rgb(20, 116, 0);
}

#restaurantInfo div p:nth-child(even) {
    background-color: rgba(128, 128, 128, 0.301);
}

#menuIcon,
#menuCheckBox {
    display: none;
}

#headerContainer img {
    width: 200px;
    margin-top: -15px;
}

#footer {
    grid-area: footer;
    margin-top: 270px;
    margin-left: -20px;
    width: 103%;
    height: 360px;
    background-color: #fdfdfc;
    background-image: url(../images/footer.jpg);
    
}

#footerLogo {
    width: 300px;
    margin-top: 20px;
    margin-left: 10px;
}

hr {
    width: 500px;
    margin-left: 0px;
}

/* Code for loader */
.loaderClass {
    opacity: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(128, 128, 128, 0.767);
    z-index: 1000;
    transition: opacity 2.5s;
    pointer-events: none;
}

.loaderClass h1 {
    font-size: 20px;
}

.loaderClass .loaderContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loaderClass.show {
    opacity: 1;
    pointer-events: auto;
}

.loadingRing {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.loadingRing {
    margin: 8px;
    border-radius: 70%;
    border: 8px solid #000;
    border-color: #000 #000 transparent;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
/* End of code for loader */

@media screen and (max-width: 950px) {
    .dropDownBtn {
        width: fit-content;
    }
}

@media screen and (max-width: 860px) {
    #restaurantInfo div {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 550px) {
    #restaurantInfo div h4 {
        font-size: 20px;
    }

    #filters button {
        font-size: 15px;
    }
}

@media screen and (max-width: 460px) {
    body {
        grid-template-columns: auto;
        grid-template-areas:
            "header"
            "filters"
            "mapViewer"
            "restaurantInfo"
            "restaurantInfo";
    }

    #menuIcon {
        background-image: url(../images/menu-bar.png);
        width: 24px;
        height: 24px;
        display: inline-block;
        cursor: pointer;

        position: absolute;
        left: 5px;
    }

    #menuCheckBox~div {
        display: none;
    }

    #menuCheckBox:checked~div {
        display: flex;
    }

    .dropDownContent {
        flex-direction: column;
    }

    .dropDownBtn {
        margin-top: 10px;
    }

    #filters {
        background-image: none;
    }

    #typeOfRestaurant,
    #distance,
    #priceRange {
        margin-left: 10px;
        margin-bottom: 30px;
    }

    #mapViewer {
        height: 350px;
    }

    #restaurantInfo div {
        width: 230px;
    }
}